.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

}

.tweet-footer {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  font-family: 'Bungee', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

#tweet-text {
  background-color: white;
  border-style: none;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 5px solid #545149;
}

.top-nav {
  
}

.chevron {
  font-family: 'Source Sans Pro', sans-serif;
}

.color-red {
  color: red;
}