.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

}

.tweet-footer {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  font-family: 'Bungee', sans-serif;
  margin-top: 5px;
  margin-bottom: 40px;
}

#tweet-text {
  background-color: white;
  border-style: none;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 5px solid #545149;
}

#new-tweet-nav:hover {
  cursor: default;
}

.color-red {
  color: red;
}

.error-no-input {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  color: #d12317;
  font-weight: 600;
  font-size: 20;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

.error-max-chars {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  color: #d12317;
  font-weight: 600;
  font-size: 20;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

.tweeter-hovered{
  color: orange;
}
