.tweet {
  border: 5px solid #545149;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.tweet:hover {
  box-shadow: 5px 5px #c4c3c0;
  font-weight: 600;
}

article.tweet > header {
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  background-image: none;
  height: auto;
  padding-top: 10px;
}

article.tweet > p {
  align-self: flex-start;
}

article.tweet footer {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 100%;
  align-items: flex-start;
  border-top: 5px solid #545149;
  padding-top: 10px;
  padding-bottom: 10px;
}

article.tweet header p {
  color: #c4c3c0;
} 

article.tweet header div {
  display: inherit;
  align-items: center;
}

/* 
article.tweet header {
  background-color: #f4f1ec;
  background-image: none;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 90%;
  display: inherit;
} */

/* article.tweet footer {
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}



article.tweet p {
  align-items: flex-start;
  display: inherit; 
}

article.tweet footer p {
  border-top: 5px solid #545149;
  
} 